{% extends "pages/page.html" %}

{% load mezzanine_tags %}
{% load ingredient_tags %}
{% load comment_tags %}
{% load rating_tags %}

{% block main %}{{ block.super }}

{{ page.description }}<br/>

{% rating_for page.recipe %}

<img class="img-fluid" src="{{ page.recipe.image.url }}">

<em>Makes {{ page.recipe.servings }} servings</em>

<h2>Ingredients</h2>
<ul class="list-group">
{% for ingredient in good_ingredient_list %}
    <li class="list-group-item good-{{ ingredient.good.category }}">{{ ingredient.amount|servings }} {{ ingredient.unit|unit }}{{ ingredient.amount|pluralize }} {{ ingredient.good.name }} {{ ingredient.prep_method }}</li>
{% endfor %}
{% for ingredient in recipe_ingredient_list %}
    <li class="list-group-item">{{ ingredient.servings|servings }} serving{{ ingredient.serving|pluralize }} <a href="/{{ ingredient.recipe_ingredient.slug }}">{{ ingredient.recipe_ingredient.title }}</a></li>
{% endfor %}
</ul>

<h2>Instructions</h2>
{% editable page.recipe.content %}
{{ page.recipe.content|richtext_filters }}
{% endeditable %}

<br/>
{% comments_for page.recipe %}

{% endblock %}
