{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block main %}{{ block.super }}

{{ page.description }}<br/>

<em>Makes {{ page.recipe.servings }} servings</em>

<h2>Ingredients</h2>
<ul>
{% for ingredient in good_ingredient_list %}
    <li>{{ ingredient.amount }} {{ ingredient.unit }} {{ ingredient.good.name }} {{ ingredient.prep_method }}</li>
{% endfor %}
{% for ingredient in recipe_ingredient_list %}
    <li>{{ ingredient.servings }} servings <a href="/{{ ingredient.recipe_ingredient.slug }}">{{ ingredient.recipe_ingredient.title }}</a></li>
{% endfor %}
</ul>

<h2>Instructions</h2>
{% editable page.recipe.content %}
{{ page.recipe.content|richtext_filters }}
{% endeditable %}

{% endblock %}
